body{
    margin: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
#bigger{
    font-size: 50px;
    color: orange;
}
.half-width img{
    width: 85%;
}
.top-banner{
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
}
section{
    height: 580px;
    padding-bottom: 200px;
    padding-top: 200px;
}
.hire-me{
    padding: 8px 20px ;
    background-color: orangered;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 5px;
    
}
.hire-me:hover{
    background-color: rgb(47, 0, 255);
    padding: 10px 22px;
    color: rgb(255, 255, 255);
}
.dream{
    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat;
}
.dream-button{
    padding: 8px 20px ;
    background-color: orangered;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 5px;
    
}
.dream-button:hover{
    background-color: rgb(47, 0, 255);
    padding: 10px 22px;
    color: rgb(255, 255, 255);
}
.latest{
    text-align: center;
    font-size: 30px;
    color: orangered;
}
.imag-siz img{
    width: 100%;
}
.work{
    background-image: url(images/latest-work-bg.png);
    background-repeat: no-repeat;
}

.third-width{
    width: 25%;
    float: left;
    padding-left: 4%;
    margin-left: 2%;
}
.left img, .middle img, .right img{
    width: 100%;
}
.client-area{
    text-align: center;
}
#middle-word{
    margin: 20%;
    padding: 0%;
}
.text-box{
    background-color: orangered;
    padding: 1px;
    margin: 20%;
    text-align: center;
}
.fot-align{
    text-align: center;
}
.client-image{
    background-image: url(images/footer-bg.png);
    background-repeat: no-repeat;
}